@{title('Iov data display platform')}

<hr/>
<br/>
<p class="center">
    Yves platform shows graphs of statistic and machine learning.<br/>
    <b>Put your awesome model here.</b>
</p>
<div class="menu">
    <ul>
        <li><a class="yeva" href="#" onclick="appUseCountDisplay();return false;">App use count</a></li>
        <li><a class="yeva" href="/map/world">World map</a></li>
        <li><a class="yeva" href="#">First APP</a></li>
    </ul>
</div>
<div id="chart" style="width:500px; height:500px; margin:0 auto;"></div>
<br/>
<br/>

<script type="text/javascript">
    function appUseCountDisplay() {
        var node = document.getElementById('chart');
        var myChart = echarts.init(node);
        var option = {
            title: {
                text: 'APP use count statistic display'
            },
            tooltip: {},
            legend: {
                data: ['APP use count']
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: [{
                name: 'Use count',
                type: 'bar',
                data: []
            }]
        };
        myChart.setOption(option);
        $.get("http://10.217.6.32:8000/diag/app/useCount",function (result) {
            for (var i = 0; i < result.length; i++) {
                option.xAxis.data.push(result[i].name);
                option.series[0].data.push(result[i].value);
            }
            myChart.setOption(option);
        });
    }

</script>